* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;
    position: relative;
}

nav {
    padding: 25px 0;
    width: 100%;
    display: flex;
    align-items: center;
}

ul {
    flex: 1;
}

ul li {
    display: inline-block;
    margin: 10px 20px;    
}

img {
    width: 50px;
    cursor: pointer;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

nav .btn {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
}

.content {
    margin: 10% 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.content h1 {
    font-size: 65px;
    font-weight: 700;

}
.content p {
    line-height: 22px;
}
.content h1 span {
    color: orange;
}
.content .btn {
    color: #fff;
    background-color: orange;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 20px;
}

.coin-list {
    position: absolute;
    right: 8%;
    bottom: 30px;
    display: flex;
}
.coin-list .coin {
    margin: 20px;
    display: flex;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
}
.coin-list .coin img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.coin-list .coin h3 {
    font-size: 15px;
    font-weight: 200;
}
.coin-list .coin p {
    color: orange;
}